<h2>
    {{:: entries.lookup[fixture.details.home_entry.id].name }}
    <strong ng-if="fixture.details.home_entry.score != null">
        &nbsp;
        {{ fixture.details.home_entry.score }}
    </strong>
    &nbsp;–&nbsp;
    <strong ng-if="fixture.details.away_entry.score != null">
        {{ fixture.details.away_entry.score }}
        &nbsp;
    </strong>
    {{:: entries.lookup[fixture.details.away_entry.id].name }}
</h2>

<div class="meta-info">
    {{:: divisions.lookup[fixture.details.division_id].name }},
    {{:: fixture.details.start_time | date : 'longDate' }}
    @ {{:: fixture.details.start_time | date : 'shortTime' }},
    at {{:: venues.lookup[fixture.details.venue_id].name }}
</div>
